@import "tailwindcss";

:root {
    --primary-color: #0082a6;
    --secondary-color: #c4dee3;
    --tertiary-color: #86b9c7;
    --background-color: #fffafa;
    --black: #3f3f3f;
}

.prim-color {
    color: var(--primary-color);
}
.sec-color {
    color: var(--secondary-color);
}
.ter-color {
    color: var(--tertiary-color);
}
.bg-color {
    background-color: var(--background-color);
}
.black {
    color: var(--black);
}
